// Body font family
@font-family-name__base: 'Lato';

// Implement a colour scheme of your choice
@primary__color: #ffa500;
@theme__color__primary: #ff0000;
@theme__color__primary-alt: #80ff5d;
@theme__color__secondary: #008000;
@secondary__color: #999999;